@import "@/assets/styles/variables";

.button {
    display: inline-block;
    padding: 30px 36px;

    border-radius: 5px;
    background: $accent-color;

    img {
        margin-right: 10px;
        vertical-align: text-top;
    }

    color: #000;

    font-size: 18px;
    font-weight: 700;
    line-height: 100%; 
    letter-spacing: 0.27px;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}
