@import "@/assets/styles/variables";

.section {
    padding-bottom: 100px;
}
.header {
    h3 {
        max-width: 530px;
        margin: 0 auto;
        margin-top: 25px;
    }
}
.tab-row {
    display: flex;
    gap: 10px;

    padding: 50px 0;
}

.tab-content {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.tab-content__left {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 692px;
    height: 394px;

    border-radius: 5px;
    border: 1px solid #1b1b1b;

    &::before {
        content: "";
        position: absolute;
        top: -163px;
        left: -288px;
        width: 100%;
        height: 564px;
        background-image: url("/images/tab-fon.png");
        background-repeat: no-repeat;
    }
    &::after {
        content: "";
        position: absolute;
        top: 20px;
        right: -436px;
        width: 100%;
        height: 564px;
        background-image: url("/images/tab-fon.png");
        background-repeat: no-repeat;
    }
}
.tab-content_icon-wrapp {
    position: relative;

    padding: 77px;

    background: conic-gradient(
        from 180deg at 50% 50%,
        #ff5f3b 318.99516105651855deg,
        #ff4c24 360deg
    );
    border-radius: 22px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 20%;

        box-shadow: 0 0 66px 7px #ff4c24;
        z-index: -1;
    }

    img {
        width: 100px;
        filter: invert(1);
    }
}

.tab-content__right {
    display: flex;
    flex-direction: column;
    flex: 1;

    h4 {
        margin-bottom: 25px;

        font-size: 48px;
        font-weight: 700;
        line-height: 120%; /* 57.6px */
        letter-spacing: -0.48px;
    }

    p {
        @include base-text;

        text-align: start;
    }
}
.tab-button {
    margin-top: auto;
}
